global
  maxconn 4096

  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

defaults
  mode http
  timeout connect 5s
  timeout client  25s
  timeout server  25s

  retries 3

listen admin 
  bind *:3000

  stats enable
  stats uri /admin?stats
  stats refresh 30s

frontend http-in
  bind *:80

  log global
  option httplog
  option dontlognull

  option httpclose
  option forwardfor

  default_backend webapp-http

backend webapp-http
  server webapp webapp:5000 check
